<html>
<head>
	<title>
		<%= @title %>
	</title>
	<link rel="stylesheet" type="text/css" href="/css/semantic.min.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link href='https://fonts.googleapis.com/css?family=Bangers' rel='stylesheet' type='text/css'>
</head>
<body>

	<nav>
		<a class="logo" href="/">
			<i class="diamond icon"></i>
			mate pix
		</a>

		<a class="upload" href="/post/new">
			<i class="upload icon"></i>
			Upload
		</a>

	</nav>

	<article>
		<%= yield %>
	</article>

</body>
</html>